body{
    font-family: Roboto;
}

.menu_navegacion{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu_navegacion li{
    margin: 10px;
}

.menu_navegacion li:hover{
    cursor: pointer;
    text-decoration-line:underline;
    
}
.logo__google{
    display: flex;
    justify-content: center;
    font-size: 70px; 
    margin: 50px 50px; 
} 

.logo{
    width: 250px;
}


header nav .icono__aplicaciones span{
    display: inline-block;
    padding: 7px;
    border-radius: 50%;
}

header nav .icono__aplicaciones span:hover{
    background-color: #eceff3;
}

.boton__especial{
    background: #d2bfe6;
    padding: 10px;
    
    
} 

.busqueda{
    width: 550px;
    height: 50px;  
    border-radius: 30px;
    padding-left: 25px;  
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;  
    background-size: 20px; 
    border-color: #dcdcdc;
    
      
}  

.input-contenedor{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
    border-radius: 100px;
    border: 1px solid #dcdcdc;
    display:flex;
    justify-content: center;
    align-items: center;
}

.input-contenedor input{
    width: 450px;
    height: 40px;
    border:none;
    outline: none;
}

.input-contenedor:hover{
    box-shadow: 0 1px 6px 0 #20212447;
}

.input-contenedor .busqueda-icon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:18px;
    height: 18px;

}

.input-contenedor .microfono{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:18px;
    height: 18px;
    cursor: pointer;
}

.menu{
    display: flex;
    justify-content: center;
}

.iconos{
    display: flex;  
    align-items: flex-end;
    justify-content: center;
    margin:60px 10px 10px 0px;
}

.iconos .iw {
    display:flex;
    width:10%;  
}  
.iconos .ia .io {
    display: flex; 
    margin: 70px;    
}

.io{
    width: 40px;
    padding: 40px;   
}

.ia{
    width: 30px;
    padding: 40px;
} 

.alternativo{
    display: flex;
    justify-content: center;
}

.alternativo p{
    padding: 50px;
}

footer{
    position: fixed;
    bottom:10px;
    right: 30px;  
    
}

.contenedor {
    display:flex;
    width:400px;
    display: flex;
    justify-content: right;
    
    
}
.personalizar {
    border-radius: 40px;
    width: 40%;
    padding: 15px; 
    
    
}



